.container-option{
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    width: 55vw; 
    justify-content: space-between;
}
.container-name{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.matSpinner-i{
    display: flex
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
mat-selection-list{
    max-height: inherit;
    max-width: inherit;
}