<div class="containerDialog">
  <h1 mat-dialog-title>{{'DIALOG.IMPORT.title'|translate}}</h1>
  <mat-form-field appearance="outline" style="position: sticky;">
    <mat-label>{{'DIALOG.CONTACT.subtitle'|translate}}</mat-label>
    <input #input matInput type="text" placeholder="" (keyup)="find_contact(input.value)"
      (ionInput)="find_contact(input.value)">
    <mat-spinner id="spinnerInput" [diameter]="20" style="visibility: hidden;"></mat-spinner>
  </mat-form-field>
  <div mat-dialog-content id="mat-dialog-content">
    <mat-spinner id="matSpinner"></mat-spinner>
    <mat-selection-list id="selectionList" [(ngModel)]="selectedOptions" #contacts [multiple]="false"
      style="height: inherit; width: inherit;">
      <mat-list-option *ngFor="let contact of myContacts" [value]="contact" (click)="save_data()">
        <div mat-line>{{contact?.name}}</div>
        <div mat-line>{{contact?.number}}</div>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div mat-dialog-actions >
    <button mat-button mat-dialog-close>{{'DIALOG.CONTACT.close'|translate}}</button>
    <button mat-button (click)="save_data" cdkFocusInitial>Ok</button>
  </div>
</div>