<ion-header>
  <mat-toolbar class="toolbar">
    <div class="toolbar_content">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <span>Devices Status</span>
      <button mat-icon-button style="font-size: 23px;" (click)="go_to_deviceSettings()">
        <div class="fake-icon"></div>
      </button>
    </div>
  </mat-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <!-- <div class="reader"> -->
      <mat-card tourAnchor="Pairing" appearance="fill" id="bluetooth">
        <mat-card-title class="mat-title">Pairing</mat-card-title>
        <mat-card-subtitle class="mat-subtitle">Keep press your smart jewerly and then press the button below to pair it with the app (swipe
          to
          delete device or edit the name)
        </mat-card-subtitle>
        <mat-card-content>
          <button mat-fab color="primary" (click)="openBeaconDialog()">
            <mat-icon>bluetooth</mat-icon> 
          </button>
          <ion-list *ngFor="let device of this.shared_data.user_data.paired_devices;let i=index;">
            <ion-item-sliding *ngIf="device?.id != '-1'" id="slidingItem{{i}}">
              <ion-item class="ion-no-padding" class="bluetooth_item" id="device{{i}}">
                <ion-label class="label_bluetooth_item">
                  <h2>{{this.shared_data?.localStorage[StorageNameType.DEVICES][i]?.name ||
                    this.shared_data.user_data?.paired_devices[i]}}</h2>
                </ion-label>
              </ion-item>
              <ion-item-options side="end" (ionSwipe)="delete(device,i)" class="bluetooth_item_options">
                <ion-item-option color="primary" (click)="modifyNameDevice(i)" expandable class="bluetooth_item_option">
                  <div>
                    <ion-icon name="cog" class="trash_icon"></ion-icon>
                    <p>Modify</p>
                  </div>
                </ion-item-option>
                <ion-item-option color="danger" (click)="delete(device,i)" expandable class="bluetooth_item_option">
                  <div>
                    <ion-icon name="trash-outline" class="trash_icon"></ion-icon>
                    <p>Delete</p>
                  </div>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </mat-card-content>
      </mat-card>
      <div class="div_battery">
        <button tourAnchor="Battery" mat-raised-button id='batteryButton' (click)="testBattery()">Test Battery</button>
      </div>
      <div style="padding-top: 50px; display: none;" id="testDeviceCard">
        <mat-card style="border-radius: 25px; border: outset">
          <mat-card-title-group style="justify-content: center; padding-top: 10px;">
            <mat-card-title>Test Battery</mat-card-title>
          </mat-card-title-group>
          <mat-card-content style="padding: 10px; font-size: 15px;">
            Stay in this page and keep your phone and jewel close; click the button on the jewel and check if the app sends a test alert.
            Remember to disable the test button, otherwise your alert will not be send in a proper way.
          </mat-card-content>
        </mat-card>
      </div>
    <!-- </div> -->
  </div>
  <div class="centered-tour-element" tourAnchor="test-device"></div>
</ion-content>
<tour-step-template></tour-step-template>