<ion-header>
  <mat-toolbar class="toolbar">
    <div class="toolbar_content">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <span>{{'MENU.title.device_status'|translate}}</span>
      <button mat-icon-button style="font-size: 23px;" (click)="go_to_deviceSettings()">
        <div class="fake-icon"></div>
      </button>
    </div>
  </mat-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <!-- <div class="reader"> -->
      <div class="div_battery">
        <button tourAnchor="Battery" mat-raised-button id='batteryButton' (click)="testBattery()">{{'TEST-DEVICE.card.battery.title'|translate}}</button>
      </div>
      <div style="padding-top: 50px; display: none;" id="testDeviceCard">
        <mat-card style="border-radius: 25px; border: outset">
          <mat-card-title-group style="justify-content: center; padding-top: 10px;">
            <mat-card-title>{{'TEST-DEVICE.card.battery.title'|translate}}</mat-card-title>
          </mat-card-title-group>
          <mat-card-content style="padding: 10px; font-size: 15px;">
            {{'TEST-DEVICE.card.battery.content'|translate}}
          </mat-card-content>
        </mat-card>
      </div>
    <!-- </div> -->
  </div>
  <div class="centered-tour-element" tourAnchor="test-device"></div>
</ion-content>
<tour-step-template></tour-step-template>