<ion-header>
  <mat-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <span>Devices Status</span>
    <ion-buttons class="slot-end" >
      <ion-button (click)="go_to_deviceSettings()"><ion-icon name="settings"></ion-icon></ion-button>
    </ion-buttons>
  </mat-toolbar>
</ion-header>

<ion-content>
  <mat-card>
  <ion-list *ngFor="let device of paired_devices;let i=index" style="padding: 0px;">
      <ion-item class="ion-no-padding" style="padding-left: 15px; background-color: #fff;" *ngIf="device.name!=''">
        <ion-label style="background-color: white; margin: 0px;">
          <h2>{{device.name || 'Unnamed'}}</h2>
          <h2 *ngIf="device.connected" style="color: green;">Connected</h2>
          <h2 *ngIf="!device.connected" style="color:red;">Not Connected</h2>
          <h3>{{device.id}}</h3>
          <h3>{{device.battery}}%</h3>
          <p> RSSI: {{device.rssi}}</p>
        </ion-label>
      </ion-item>
  </ion-list>
</mat-card>
<div>
  
</div>
<!-- <ion-button (click)="simulate()">Simulate click</ion-button> -->
</ion-content>