<ion-header>
  <mat-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <span>NFC Reader</span>
    <div class="fake-icon"></div>
  </mat-toolbar>
  <div *ngIf="!NFC_enable" class="alert-msg">
    NFC is not available!
  </div>
</ion-header>

<ion-content>
  <ion-card *ngIf="readMessage">
    <ion-card-content>
      Result from scan: {{readMessage}}
    </ion-card-content>
  </ion-card>
  <ion-button (click)="read_NFC()">Read NFC</ion-button>
</ion-content>
