<ion-header>
  <mat-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <span>NFC Reader</span>
    <div class="fake-icon"></div>
  </mat-toolbar>
  <div *ngIf="!gps_enable" class="alert-msg">
    NFC is not available!
  </div>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input type="text" placeholder='My NFC data' [(ngModel)]="NFC_data"></ion-input>
  </ion-item>
  <ion-button (click)="read_NFC()">Read NFC</ion-button>
  <ion-button (click)="write_NFC()">Write NFC</ion-button>
  <ion-card *ngIf="readMessage">
    <ion-card-content>
      Result from scan: {{readMessage}}
    </ion-card-content>
  </ion-card>
</ion-content>
