<!-- <ion-header> -->

<!-- </ion-header> -->
<ng-template #counter let-step="step" let-total="total">
  {{ step }} of {{ total }} steps
</ng-template>

<ion-content>
  <div class="content">
    <div class="status" tourAnchor="status">
      <h2>{{'HOMEPAGE.status.label'|translate}}: {{'HOMEPAGE.status.'+this.sharedData.user_data.status|translate}}</h2>
    </div>
    <div class="homepage_content">
      <div class="first_row">
        <button tourAnchor="Emergency" id="emergency" mat-raised-button class="buttons" (click)="openAlertPage()">
          <div class="homepage_button_content">
            <mat-icon>notifications</mat-icon>
            <!-- <h3>{{'HOMEPAGE.button.emergency'|translate}}</h3> -->
          </div>
        </button>
      </div>
      <div class="second_row">
        <button tourAnchor="NFC" mat-button class="buttons" routerLink="/profile/menu/read-nfc">
          <div class="homepage_button_content">
            <mat-icon>nfc</mat-icon>
            <!-- <h3>NFC</h3> -->
          </div>
        </button>
        <button tourAnchor="QR" mat-button class="buttons" routerLink="/profile/menu/read-qr">
          <div class="homepage_button_content">
            <mat-icon>qr_code_2</mat-icon>
            <!-- <h3>QR</h3> -->
          </div>
        </button>
      </div>
    </div>

    <div class="centered-tour-element" tourAnchor="homepage"></div>
    <mat-toolbar class="toolbar">
      <div class="toolbar_content">
        <ion-buttons slot="start">
          <ion-menu-button tourAnchor="Menu" #menu></ion-menu-button>
        </ion-buttons>
        <button tourAnchor="Profile" mat-button routerLink="/profile/menu/profile">
          <div class="toolbar_button_content">
            <mat-icon>person</mat-icon>
            <!-- <h3>{{'HOMEPAGE.button.profile'|translate}}</h3> -->
          </div>
        </button>
        <button tourAnchor="FAQ" mat-button routerLink="/profile/menu/faq">
          <div class="toolbar_button_content">
            <mat-icon>help</mat-icon>
            <!-- <h3>{{'HOMEPAGE.button.FAQ'|translate}}</h3> -->
          </div>
        </button>
        <!-- <div class="fake-icon"></div> -->
      </div>
    </mat-toolbar>
  </div>
   <!-- <button mat-raised-button (click)="backgroundEvent()">backgroundEvent</button> -->
  <!-- <button mat-raised-button (click)="requestOptimiz()">requestOptimiz</button>
  <button mat-raised-button (click)="goBatterySettings()">goBatterySettings</button>
  <button mat-raised-button (click)="checkOptData()">checkOptData</button>
  <button mat-raised-button (click)="goDataRestriction()">goDataRestriction</button>
  <button mat-raised-button (click)="goCheckOthers()">goCheckOthers</button> -->
  <!-- <button mat-raised-button (click)="openAppDetails()">openAppDetails</button>
  <button mat-raised-button (click)="openAppDevelop()">openAppDevelop</button>
  <button mat-raised-button (click)="openAppSettings()">openAppSettings</button>
  <button mat-raised-button (click)="openManageApp()">openManageApp</button>
  <button mat-raised-button (click)="openManageAllApp()">openManageAllApp</button> -->
  <tour-step-template>
  </tour-step-template>
</ion-content>