<ion-header>
  <mat-toolbar class="toolbar">
    <div class="toolbar_content">
      <ion-buttons slot="start">
        <ion-menu-button tourAnchor="Menu" #menu></ion-menu-button>
      </ion-buttons>
      <span>Homepage</span>
      <div class="fake-icon"></div>
    </div>
  </mat-toolbar>
</ion-header>
<ng-template #prevButton>
  <button mat-raised-button>Go back!</button>
</ng-template>
<ng-template #nextButton>
  <button mat-raised-button>Go ahead!</button>
</ng-template>
<ng-template #doneButton>
  <button mat-raised-button>Complete</button>
</ng-template>
<ng-template #counter let-step="step" let-total="total">
  {{ step }} of {{ total }} steps
</ng-template>
<ion-content>
  <mat-grid-list cols="2" rowHeight='33%'>
    <div class="homepage_content">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button tourAnchor="QR" mat-raised-button class="buttons" routerLink="/profile/menu/read-qr">
          <div class="homepage_button_content">
            <mat-icon>qr_code_2</mat-icon>
            <h3>QR</h3>
          </div>
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button tourAnchor="NFC" mat-raised-button class="buttons" routerLink="/profile/menu/read-nfc">
          <div class="homepage_button_content">
            <mat-icon>nfc</mat-icon>
            <h3>NFC</h3>
          </div>
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <button tourAnchor="Emergency" id="emergency" mat-raised-button class="buttons" (click)="openAlertPage()">
          <div class="homepage_button_content">
            <mat-icon>notifications</mat-icon>
            <h3>Emergency</h3>
          </div>
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button tourAnchor="Profile" mat-raised-button class="buttons" routerLink="/profile/menu/profile">
          <div class="homepage_button_content">
            <mat-icon>person</mat-icon>
            <h3>Profile</h3>
          </div>
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button tourAnchor="FAQ" mat-raised-button class="buttons " routerLink="/profile/menu/faq">
          <div class="homepage_button_content">
            <mat-icon>help</mat-icon>
            <h3>FAQ</h3>
          </div>
        </button>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
  <div class="centered-tour-element" tourAnchor="homepage"></div>
  <button mat-raised-button (click)="startTour()">startTour</button>
  <!-- <button mat-raised-button (click)="updateProfile()">updateProfile</button>
  <button mat-raised-button (click)="checkANDupdateToken()">checkANDupdateToken</button> -->
  <!-- <button mat-raised-button (click)="testEqualTo()">testEqualTo</button>
  <button mat-raised-button (click)="askPermission()">askPermission</button> 
  <button mat-raised-button (click)="checkAndroidPermission()">checkAndroidPermission</button>
  <button mat-raised-button (click)="enableWatchPosition()">enableWatchPosition</button>
  <button mat-raised-button (click)="testDeviceMotionEvent()">testDeviceMotionEvent</button>
  <button mat-raised-button (click)="backgroundGeolocationMauron()">backgroundGeolocationMauron</button> -->
</ion-content>
<tour-step-template>
</tour-step-template>