.container_login{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.button{
    display: flex;
    flex-direction: row;
}
.text{
    padding-left: 15px;
    display: flex;
    align-self: center;
}
.insideLoginButton{
    display: flex;
}
.img{
    height: 45px;
    width: 45px;
    display: flex;
}