<div class="container_login">
  <button mat-raised-button color="light" (click)="login()">
    <div class='button'>
      <img src="assets/images/s4c.png" class="img">
      <div class="text">Login with Snap4City</div>
    </div>
  </button>
  <button mat-button color="light" (click)="registration()">
    <div class='button'>
      <img src="assets/images/s4c.png" class="img">
      <div class="text">Not yet a member? Sign up!</div>
    </div>
  </button>
  <button mat-raised-button color="light" (click)="openTutorial()">
    <div class='button'>
      <img src="assets/images/s4c.png" class="img">
      <div class="text">Open Tutorial</div>
    </div>
  </button>
  <button mat-raised-button color="light" (click)="loginTest()">
    <div class='button'>
      <img src="assets/images/s4c.png" class="img">
      <div class="text">Fast Login</div>
    </div>
  </button>
</div>