<!-- <button mat-button (click)="closePreviewCamera()" >
  <ion-icon name="close"></ion-icon>
</button> -->
<ion-header #content>
  <mat-toolbar class="toolbar">
    <div class="toolbar_content">
      <button mat-icon-button routerLink="/profile/menu/homepage" class="go_back_button">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </button>
      <span>{{'QR.toolbar.title'|translate}}</span>
      <div class="fake-icon"></div>
    </div>
  </mat-toolbar>
</ion-header>

<ion-content #content>
  <div class="content">
    <div class="reader">
      <mat-card appearance="fill" id="card" class="custom_mat_card">
        <div class="title_list_Code">
          <mat-card-title>{{'QR.card.title'|translate}}</mat-card-title>
        </div>
        <div>
          <ion-list *ngFor="let item of this.shared_data.user_data.qr_code;let i=index;">
            <ion-item-sliding id="slidingItem{{i}}">
              <ion-item *ngIf="item.id !=-1 " class="ion-no-padding" id="item{{i}}">
                <ion-label class="label_code">
                  <h2>{{this.shared_data?.localStorage[StorageNameType.QR_CODE][i]?.name ||
                    this.shared_data.user_data?.qr_code[i]}}</h2>
                </ion-label>
              </ion-item>
              <ion-item-options side="end" class="bluetooth_item_options">
                <ion-item-option color="primary" (click)="modifyNameDevice(i)" expandable class="bluetooth_item_option">
                  <div class="icon-reader">
                    <ion-icon name="cog" class="trash_icon"></ion-icon>
                    <p>{{'QR.card.modify'|translate}}</p>
                  </div>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </div>
      </mat-card>
      <img style="border-radius: 10px;" src="assets/images/qr-reader.gif" alt="qr-reader" />
      <div class="scannerCode">
        <button class="btc" mat-button expand="full" (click)="scanCode()">
          {{'QR.button.scan'|translate}}
        </button>
      </div>
    </div>
  </div>
</ion-content>