ngx-qrcode{
    text-align: center;
}
.ion_item{
    padding-left: 15px;
    background-color: #fff;
}
.ion_item_sliding{
    background-color: white;
    margin: 0px;
}
.reader{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.title_list_Code{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.custom_mat_card{
    //margin: 0px 10px;
}
.container_icon{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.scannerCode{
    margin-top: 30px;
}
@media(min-width:600px){
    .reader{
        width:60%;
        display: flex;
        justify-content: center;
    }
}