<!-- <button mat-button (click)="closePreviewCamera()" >
  <ion-icon name="close"></ion-icon>
</button> -->
<ion-header #content>
  <mat-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <span>QR Reader</span>
    <div class="fake-icon"></div>
  </mat-toolbar>
</ion-header>

<ion-content #content>
  <ion-card>
    <ion-card-content>
      Result from scan: {{scannedCode}}
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" (click)="scanCode()">
    Scan Code
  </ion-button>
</ion-content>