<ion-header>
  <mat-toolbar class="toolbar">
    <div class="toolbar_content">
      <button mat-icon-button routerLink="/profile/menu/homepage" class="go_back_button">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </button>
      <span>FAQ</span>
        <button tourAnchor="button_tour" mat-icon-button (click)="startTour()">
          <ion-icon name="bus-outline"></ion-icon>
        </button>
    </div>
  </mat-toolbar>
</ion-header>

<ion-content>
  <iframe id="" height="100%" width="100%" style="border: 0;" [src]="urlSafe"></iframe>
</ion-content>