<ion-header>
  <mat-toolbar class="toolbar">
    <div class="toolbar_content">
      <button mat-icon-button routerLink="/profile/menu/homepage" class="go_back_button">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </button>
      <span>FAQ</span>
      <div class="fake-icon"></div>
    </div>
  </mat-toolbar>
</ion-header>

<ion-content>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="collapsedHeight">
        <mat-panel-title>
          <span>What's the aim of this app?</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> Click the button below and find out for who is designed this app</p>
      <div class="button">
        <button class="button" mat-raised-button (click)="openTutorial()">Open tutorial</button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="collapsedHeight">
        <mat-panel-title>
          <span>Can I see again the tour of the app?</span>
        </mat-panel-title>
      </mat-expansion-panel-header >
      <p> Certainly, you can click the button below and start a tour.</p>
      <div class="button">
        <button mat-raised-button (click)="startTour()">Start a tour</button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="collapsedHeight">
        <mat-panel-title>
          <span>Nam rutrum a odio et rutrum?</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur pulvinar ullamcorper. Vestibulum ante
        ipsum primis in
        faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum ante ipsum primis in faucibus orci luctus et
        ultrices
        posuere cubilia curae; Ut vitae varius massa.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="collapsedHeight">
        <mat-panel-title>
          <span>Nam porttitor eu neque a luctus?</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pellentesque ipsum tempus, molestie lectus
        eget, tempor lorem. Nullam tempor scelerisque vulputate. Donec tellus ligula, malesuada in tristique vitae,
        imperdiet vel tortor.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="collapsedHeight">
        <mat-panel-title>
          <span>Integer a rhoncus mi, eget sodales ex?</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p> Quisque maximus tincidunt porta. In blandit cursus arcu vitae cursus. Aliquam pulvinar sagittis mauris non
        ultricies.
        Fusce luctus accumsan aliquet. Sed metus tortor, sagittis luctus erat a, faucibus venenatis mi. Aenean varius
        metus sapien,et interdum sem efficitur nec.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="collapsedHeight">
        <mat-panel-title>
          <span>Nullam ac risus felis?</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Curabitur porttitor dolor odio, ut semper nibh pulvinar nec. In vehicula metus et ante dignissim fermentum.
        Suspendisse
        eleifend tortor nec condimentum vestibulum. Etiam euismod, eros et facilisis venenatis, massa magna fermentum
        mauris,ut pretium leo augue vitae est. Vestibulum bibendum tortor sed nulla aliquet, a volutpat tortor ultrices.
        Sed
        tempor erat a venenatis faucibus. Nunc vel ligula sit amet tortor imperdiet dapibus sit amet in urna.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="collapsedHeight">
          <div class="expansion-container">
          <mat-panel-title>
            <span>Donec placerat turpis sed nisi tristique pulvinar. Praesent ut elementumpurus?</span>
          </mat-panel-title>
        </div>
        </mat-expansion-panel-header>
        <p>Curabitur porttitor dolor odio, ut semper nibh pulvinar nec. In vehicula metus et ante dignissim fermentum.
          Suspendisse
          eleifend tortor nec condimentum vestibulum. Etiam euismod, eros et facilisis venenatis, massa magna fermentum
          mauris,ut pretium leo augue vitae est. Vestibulum bibendum tortor sed nulla aliquet, a volutpat tortor
          ultrices.
          Sed
          tempor erat a venenatis faucibus. Nunc vel ligula sit amet tortor imperdiet dapibus sit amet in urna.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="collapsedHeight">
        <mat-panel-title>
          <span>Nullam ac risus felis?</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse venenatis quam id risus luctus
        condimentum.
        Maecenas et elit vel libero consequat elementum. Vestibulum ullamcorper sit amet quam et ullamcorper. Maecenas
        at felis leo.
        In in libero ut felis placerat vulputate sit amet tincidunt urna. Sed quis aliquam nunc, eget scelerisque urna.
        Vivamus sed
        molestie leo. Sed tristique convallis dignissim. </p>
    </mat-expansion-panel>
  </mat-accordion>

</ion-content>