.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box{
    width: 40px;
    height: 40px;
    margin: 10px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    background-color: #fff;
    color: #000;
}
.container-box section{
    color: #000;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.section{
    //margin: auto;
    display: flex;
    padding: 10px;
    font-size: 16px;
    justify-content: center;
    text-align: center;
}
.icon{
    display: flex;
    font-size: 80px;
    margin-bottom: 20px;
    color: red;
    justify-content: center;
}
.number{
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
}
.immediate_emergency{
    display: flex;
    justify-content: center;
}
