<ion-header>
</ion-header>

<ion-content>
  <div class="container">
    <div class="content">
      <div class="icon">
        <ion-icon name="alert-circle"></ion-icon>
      </div>
      <div class="immediate_emergency">
        <button tourAnchor="Immediate" mat-raised-button id="immediateEmergencyButton" [disabled]="this.shared_data.enabled_test_battery_mode.getValue()" (click)="immediateEmergency()">{{'SHOW_ALERT.button.immediate_emergency'|translate}}</button>
      </div>
      <div class="section">
        {{'SHOW_ALERT.content'|translate}}
      </div>
      <div class="section number">
        <countdown #countdown [config]="config" (event)="send_Emergency($event)"></countdown>
      </div>
      <div tourAnchor="Pin" class="container-box section">
        <input class="box" (keyup)="onDigitInput($event)" name="0" id="0" matInput type='number' [(ngModel)]="pin[0]">
        <input class="box" (keyup)="onDigitInput($event)" name="1" id="1" matInput type='number' [(ngModel)]="pin[1]">
        <input class="box" (keyup)="onDigitInput($event)" name="2" id="2" matInput type='number' [(ngModel)]="pin[2]">
        <input class="box" (keyup)="onDigitInput($event)" name="3" id="3" matInput type='number' [(ngModel)]="pin[3]">
      </div>
    </div>
  </div>
  <div class="bottom-tour-element" tourAnchor="show-alert"></div>
</ion-content>
<tour-step-template></tour-step-template>