<ion-header>
</ion-header>

<ion-content>
  <div class="container">
    <div class="content">
      <div class="icon">
        <ion-icon name="alert-circle"></ion-icon>
      </div>
      <div class="section">
        Accidentally triggered?
        No problem,enter your PIN to cancel.<br><br>
        To send a message to your contact, please let the time expire
      </div>
      <div class="section number">
        <countdown [config]="config" (event)="send_Emergency($event)"></countdown>
      </div>
      <div class="container-box section">
        <input class="box" (keyup)="onDigitInput($event)" name="0" id="0" matInput type='number' [(ngModel)]="pin[0]">
        <input class="box" (keyup)="onDigitInput($event)" name="1" id="1" matInput type='number' [(ngModel)]="pin[1]">
        <input class="box" (keyup)="onDigitInput($event)" name="2" id="2" matInput type='number' [(ngModel)]="pin[2]">
        <input class="box" (keyup)="onDigitInput($event)" name="3" id="3" matInput type='number' [(ngModel)]="pin[3]">
      </div>
    </div>
  </div>
  <ion-button (click)="testButton()">Double Click</ion-button>
</ion-content>