.box{
    width: 30px;
    height: 30px;
    margin: 10px;
    text-align: center;
}
.content{
    height: 100%;
    width: 100%;
    padding: 50% 0px;
    text-align: center;
}
.section{
    margin: auto;
    width: 80%;
    padding: 10px;
    font-size: 16px;
}
.icon{
    font-size: 80px;
    margin-bottom: 10%;
    color: red;
}
.number{
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
}

